*{
	padding:0;
	margin:0;
    box-sizing: border-box;
}

/* Clearfix
============================================================ */
clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
/*
==============================================================*/


/* Grid
===============================================================*/
.col-container{
    width: 100%;
}
/*There are three columns in the header section, they contain back button, app title and
Menu Navigation button. */

.col-header{
    /* 10 + 10 + 70 = 90%, margin left is 10% that will be divided over two spacing. %*/
    float: left;
    width: 10%;
    margin-left: 5%;
/*    outline: 1px solid red;*/
}
.col-header:first-child{
    margin-left: 0%;
}
.col-header:nth-child(2){
    width: 70%; /* Give larger space for app title to breath. */
}
/*
===============================================================*/

html{
	width:100%;
	height:100%;
    background-color:#475500;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    padding: 0 2%;
}

h2, h3, p{
	padding:0.2rem 2rem;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
/*    width: 100%;*/
/*    outline: 1px solid red;*/
}

/*
Nav Bar
==============================================================*/
#hamburger-menu {
    display: none;
}

.nav {
    width:100%;
    border-bottom: 1px solid #000;
}

.nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    text-align: left;
}
.nav [data-role="pagelink"] {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    color: #FFF;
}
.nav [data-role="pagelink"].active-link{
    color: #B1D400; /* Hue base color*/
}
.nav [data-role="pagelink"]:hover {
    background-color: #87A100;
}

/* According to the height of main_content class, the side menu backgound color will be filled.
If you remove this line, Not all menu items will be styled with background color in case
main contents are shorter than side menu height. */
.main_content{
    min-height: 400px;
}
.main_content,
.nav {
    transition: 0.5s margin ease;
    display: block;
    position: relative;
}
.main_content {
    padding: 1.5em;
    position: relative;
    max-width: 70em;
    width: 100%;
    background-color: #B0B292;
    margin: 0 auto;
}
body.active .main_content:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #49550F; /* TODO: Check whether you should use different color or not.*/
}

@media all and (max-width:720px){
  #hamburger-menu{
      display: inline-block;
  }

  .nav {
      float: left;
      margin-left: -100%;
      width: 300px;
      z-index: 2;
  }
  .main_content {
      float: left;
      margin-left: 0;
      margin-right: 0;/* smooth the animation when user closes hamburger menu*/
      width: 100%;
  }

  body.active .nav {
      margin-left: 0;
  }
  body.active .main_content {
      margin-right: -100%;
  }

  .nav {
      padding: 0.6em 0;
      border: none;
      padding: 0;
  }
  .nav ul {
      text-align: left;
      font-weight: normal;
  }
  .nav ul li {
      display: block;
  }
 .nav [data-role="pagelink"] {
      border-bottom: 1px solid #3E3E3E;
      border-top: 1px solid #717171;
      padding: 12px;
  }
 .nav [data-role="pagelink"]:hover {
      background-color: #87A100;
  }
}

@media screen and (max-width:500px){
    #hamburger-menu{
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width:440px){
    #hamburger-menu{
        width: 32px;
        height: 32px;
    }
}
/*
============================================================*/

/* Header Styling
============================================================*/
header{
    background: #E2E5BB;
}

[data-role="header"] h1{
  text-shadow: 1px 1px 1px #0cf;
  color:#d4d4d4;
  text-align:center;
  letter-spacing:0.3rem;
  word-spacing: 1rem;
  font-variant:small-caps;
}

[data-rel="back"]{
    float:left;
    color:#fff;
    padding:0.3rem 1rem;
    color: #0C3;
    font-size: 1rem;
    line-height:2.0rem;
    text-decoration:none;
/*  display:none;*/
}
/*
============================================================*/

/* Pages styling
=============================================================*/
[data-role=page]{
    display: none;
}

.active-page{
/*    forwards value will keep the styles declared within the last specified keyframe i.e.
    opacity of destination page will remain 1. */
    -webkit-animation: fade_in 1s ease-in-out forwards,
                       rotation_and_zoom_in 1s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
    -moz-animation   : fade_in 4s ease-in-out forwards,
                       zoome_in 4s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
    -o-animation     : fade_in 4s ease-in-out forwards,
                       zoome_in 4s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
    animation        : fade_in 4s ease-in-out forwards,
                       zoome_in 4s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
}

.show{
	display:block;
}
.hide{
	display:none;
}

/* Sticky Footer styling
===============================================================*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px; /* bottom = footer height */
}

footer {
    background: #E2E5BB;
    position: absolute;
    left: 2%; /* Typical to custom padding added to html tag*/
    right: 2%; /* Typical to custom padding added to html tag*/
    bottom: 0;
    height: 60px;
    width: 96%; /* width = 100% - 2*2% = 96%*/
}

@media screen and (min-width: 1000px){
    footer{
        max-width: 960px; /* typical value of wrapper max width*/
        margin: 0 auto;
    }
}

/* Animations
==================================================================*/
/**********  FADE IN ANIMATION ************/
@-webkit-keyframes fade_in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-moz-keyframes fade_in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-o-keyframes fade_in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fade_in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/**********  ZOOM IN ANIMATION ************/
@-webkit-keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}
@-moz-keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}
@-o-keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}
@keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}

/**********  ROTATION ANIMATION ************/
@-webkit-keyframes rotation_and_zoom_in{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}
@-moz-keyframes rotation{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}
@-o-keyframes rotation{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}
@keyframes rotation{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}
