*{
	padding:0;
	margin:0;
    box-sizing: border-box;
}

/* Clearfix
============================================================ */
clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
/*
==============================================================*/


/* Grid
===============================================================*/
.col-container{
    width: 100%;
}
/*There are three columns in the header section, they contain back button, app title and
Menu Navigation button. */

.col-header{
    /* 10 + 10 + 70 = 90%, margin left is 10% that will be divided over two spacing. %*/
    float: left;
    width: 10%;
    margin-left: 2rem;
/*    margin-left: 5%;*/
/*    padding-top: 8px;*/
}
.col-header:last-child{
    width: 70%; /* 100% - 10% = 90%*/


}
@media (min-width:720px){
    /* At this breakpoint, hamburger menu disappears and the title must fill all the width of the column so that the text
    is centred properly. */
    .col-header:last-child{
        width: 100%;
        margin-left: 0;
    }
}
/*
===============================================================*/

html{
	width:100%;
	height:100%;
    background-color: hsl(69,54%,21%);
    font-family: Calibri, Arial, Helvetica, sans-serif; /* First Font-Family Stack*/
    position: relative;
    min-height: 100%;
 }

@media (min-width:960px){
    html{
        padding: 0 2%;
    }

    .st-container{
        max-width: 1680px;
        margin: 0 auto;
    }

}


/* This class is applied on body tag so that root font-size is set according to different screen
sizes. Then any text paragraph can be set using rem unit. */
.flexible-font{
    font-size: 4vw;
}

@media all and (min-width:600px){
    .flexible-font{
        font-size: 3vw;
    }
}

@media all and (min-width:800px){
    .flexible-font{
        font-size: 2.5vw;
    }
}

@media all and (min-width:1000px){
    .flexible-font{
        font-size: 1.6vw;
    }
}

h2, h3, p, td{
	padding:0.6rem 2rem;
}

h1,h2,h3,h4{
    font-family: Tahoma, Verdana, Geneva; /* Second Font-Family Stack*/
}

body{
    /* Let the body fills the whole page vertically, this helps in Sticky Footer creation. */
    height: 100%;
}

/*
Nav Bar
==============================================================*/
#hamburger-menu {
    display: inline-block;
}

#wide-screen-nav-bar{
    display: none;
}

/* First navigation bar for wide screens where it would be shown only under the header*/
.nav {
    width:100%;
    background-color: hsl(69,100%,12%);
}

.nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}


.nav ul li{
display: block;
width: 100%; /* So that anchor tag width inherits the width of list item*/
text-align: left;
}

.nav ul li:nth-child(2) {
border-left-width: 0px;
border-right-width: 0px;
}

.nav [data-role="pagelink"] {
    display: block;
    padding: 10px 2rem;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;

    position: relative; /* To align text verticall, position the parent relatively then
    position the child absolutely. Set the height of the child node and adjust the
    padding/margin according to used font size.*/

}

.st-menu ul li [data-role="pagelink"]:first-child{
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.nav [data-role="pagelink"]:hover {
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: #fff;
    background-color: hsl(69,100%,32%);
}

.nav [data-role="pagelink"] span{
    position: absolute;
    margin-left: 10px;
    height: 32px; /* Same as the hieght of SVG tag in HTML document.*/
/*    padding-top: 6px;*/
}
.nav [data-role="pagelink"].active-link{
    color: hsl(69,100%,42%);
    background-color: hsla(69,100%,32%, 0.5);
}

    html,
    body,
    .st-container,
    .st-pusher,
    .st-content {
        height: 100%;
    }

    /* Keep the scrollability of the web app but hide scrollbar as it has bad style on Devices' browser. */
    ::-webkit-scrollbar {
        display: none;
    }

    .st-content {
        overflow-y: scroll;
    }

    .st-content,
    .st-content-inner {
        position: relative;
    }

    .st-content-inner{
        /* Set minimum hieght to push the footer down to the page*/
        min-height: 93.1%;
        background-color: hsl(69,18%,69%);
    }

    .st-container {
        position: relative;
        overflow: hidden;
    }

    .st-pusher {
        position: relative;
        left: 0;
        z-index: 99;
        height: 100%;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        /*outline: 1px solid red;*/
    }


    .st-menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 300px;
        height: 100%;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .st-menu ul li a {
        display: block;
        padding: 1em 1em 1em 1.2em;
    }

    /* Effect 7: 3D rotate in *//* /TODO: rename effect 7*/

    .rotate-in-3d.st-container {
        -webkit-perspective: 1500px;
        perspective: 1500px;
        -webkit-perspective-origin: 0% 50%;
        perspective-origin: 0% 50%;
    }

    .rotate-in-3d  .st-pusher,
    footer {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }


    .rotate-in-3d.st-menu {
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
        transform: translate3d(-100%, 0, 0) rotateY(-90deg);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .rotate-in-3d.st-menu-open .st-pusher {
      -webkit-transform: translate3d(300px, 0, 0);
      transform: translate3d(300px, 0, 0);
    }

    .rotate-in-3d.st-menu-open .rotate-in-3d.st-menu {
      /*visibility: visible;*/
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
      transform: translate3d(-100%, 0, 0) rotateY(0deg);
    }

@media all and (min-width:720px){
  #hamburger-menu{
      display: none;
  }

  #wide-screen-nav-bar {
      display: block;
  }

  #small-screen-nav-bar{
      display: none;
  }

    .nav ul li {
        display: inline-block;
        width: 33.33%;
        border-left-width: 0px;
        border-right-width: 0px;
    }

    .nav ul li:nth-child(2){
        border-left: 1px solid #717171;
        border-right: 1px solid #717171;
    }

    .rotate-in-3d.st-menu-open .st-pusher {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}



/*
============================================================*/

/* Header Styling
============================================================*/
header{
    background: hsl(69,45%,82%);
    /*Make sure that header height is fixed whether hamburger menu exists or not.*/
    height: 60px;
    transition: 0.5s margin ease;
}

[data-role="header"] h1{
  text-shadow: 3px 2px 2px #475500;
-webkit-text-stroke: 1px #475500;
  color: white;
  text-align:center;
  letter-spacing:0.3rem;
  word-spacing: 1rem;
  font-variant:small-caps;
  /* increase the dueration of text stretch animation so that it won't capture the users's eye*/
-webkit-animation: text-stretch 2s infinite;
-webkit-animation-direction: alternate;
}

/*
============================================================*/

/* Pages styling
=============================================================*/
[data-role=page]{
    display: none;
}

.active-page{
/*    forwards value will keep the styles declared within the last specified keyframe i.e.
    opacity of destination page will remain 1. */
    -webkit-animation: fade_in 1s ease-in-out forwards,
                       rotation_and_zoom_in 1s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
    -moz-animation   : fade_in 4s ease-in-out forwards,
                       zoome_in 4s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
    -o-animation     : fade_in 4s ease-in-out forwards,
                       zoome_in 4s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
    animation        : fade_in 4s ease-in-out forwards,
                       zoome_in 4s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
}

.show{
	display:block;
}
.hide{
	display:none;
}

/* Sticky Footer styling
===============================================================*/
footer {
    background: hsl(69,45%,82%);
    /* Adjust position of footer with respect to main content div.*/
    position: absolute;
    left: 0;
    bottom: -65px;
    height: 65px; /* Same height as header*/
    width: 100%;
}


/* Location page styling
==================================================================*/
#inner-arch{
    fill: #C6ED00;
    /* Since artboard size is 300x300, change point around which rotation will take place to be middle of artboard instead of 0 0 (top-left corner)*/
    transform-origin: 150px 150px;
    -webkit-animation:  rotate 1s linear infinite;
    -moz-animation   :  rotate 1s linear infinite;
    -o-animation     :  rotate 1s linear infinite;
    animation        :  rotate 1s linear infinite;
}

#canvas-map{
    padding-left: 2rem;
    width: 70%;
}

/* Conract Page Styling
====================================================================*/
table{
    width: 100%;
    padding-left: 2rem;
    margin: 1% 0;
}

table tr{
    text-align: left;
    margin: 2% 0;
    font-size: 1.3rem;
}

table tr th{
    width: 20%;
    padding: 1.2rem 0;
/*    text-align: right;*/
}

table tr td img{
    width: 150px;
    height: 150px;
}

/* Common button styles */
.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 2em;
	padding: 1em 2em;

	background: hsl(69,100%,12%);
	color: #f3efe0;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	border: 1px solid hsl(69,54%,21%);;
	font-size: 1rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 5px;
}

.button:active {
	outline: none;
    background-color: hsla(69,100%,32%, 0.5);
}

/* Wayra */
.button--wayra {
	overflow: hidden;
	width: 245px;
}
.button--wayra::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: hsla(69,100%,32%, 0.5);
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.button--wayra:hover {
	color: #fff;
	border-color: hsl(69,100%,32%);
}

.button--wayra:hover::before {
	opacity: 1;
	background-color: hsla(69,100%,32%, 0.5);
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}


/* Animations
==================================================================*/
/**********  FADE IN ANIMATION ************/
@-webkit-keyframes fade_in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-moz-keyframes fade_in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-o-keyframes fade_in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fade_in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/**********  ZOOM IN ANIMATION ************/
@-webkit-keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}
@-moz-keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}
@-o-keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}
@keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}

/**********  ROTATION & ZOOM-IN ANIMATION ************/
@-webkit-keyframes rotation_and_zoom_in{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}
@-moz-keyframes rotation_and_zoom_in{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}
@-o-keyframes rotation_and_zoom_in{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}
@keyframes rotation_and_zoom_in{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}

/**********  ROTATE ANIMATION ************/
@-webkit-keyframes rotate{

    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotate{
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes rotate{
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate{
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes text-stretch {
			0% {
				-webkit-text-stroke: 15px #B1D400;
				letter-spacing: 0;
			}
			100% {
				-webkit-text-stroke: 20px #475500;
				letter-spacing: 10px;
			}
}
