*{
	padding:0;
	margin:0;
    box-sizing: border-box;
}

/* Clearfix
============================================================ */
clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
/*
==============================================================*/


/* Grid
===============================================================*/
.col-container{
    width: 100%;
}
/*There are three columns in the header section, they contain back button, app title and
Menu Navigation button. */

.col-header{
    /* 10 + 10 + 70 = 90%, margin left is 10% that will be divided over two spacing. %*/
    float: left;
    width: 10%;
    margin-left: 5%;
/*    outline: 1px solid red;*/
}
.col-header:last-child{
    width: 85%; /* 100% - 10% -5%= 85%*/
    margin-left: 0%;

}

/*
===============================================================*/

html{
	width:100%;
	height:100%;
    background-color:#475500;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    padding: 0 2%;
    position: relative;
    min-height: 100%;
}

/* This class is applied on body tag so that root font-size is set according to different screen
sizes. Then any text paragraph can be set using rem unit. */
.flexible-font{
    font-size: 1.2vw;
}
@media all and (max-width:1000px){
    .flexible-font{
        font-size: 1.6vw;
    }
}

@media all and (max-width:800px){
    .flexible-font{
        font-size: 2vw;
    }
}

@media all and (max-width:600px){
    .flexible-font{
        font-size: 2.4vw;
    }
}

@media all and (max-width:400px){
    .flexible-font{
        font-size: 4vw;
    }
}

h2, h3, p{
	padding:0.2rem 2rem;
}

h1,h2,h3,h4{
    font-family: Tahoma, Verdana, Geneva;
}

body{
    /* Let the body fills the whole page vertically, this helps in Sticky Footer creation. */
    height: 100%;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    /* Let the wrapper fills the whole page vertically, this helps in Sticky Footer creation.*/
    height: 100%;
}

/*
Nav Bar
==============================================================*/
#hamburger-menu {
    display: none;
}

#small-screen-nav-bar{
    display: none;
}

/* First navigation bar for wide screens where it would be shown only under the header*/
.nav {
    width:100%;
    background-color: #333E00;
}

.nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    text-align: left;
    width: 33.33%;
    border-left-width: 0px;
    border-right-width: 0px;
}

.nav ul li:nth-child(2){
    border-left: 1px solid #717171;
    border-right: 1px solid #717171;
}

.nav [data-role="pagelink"] {
    display: block;
    padding: 10px 12px;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;

    position: relative; /* To align text verticall, position the parent relatively then
    position the child absolutely. Set the height of the child node and adjust the
    padding/margin according to used font size.*/

}

.st-menu ul li [data-role="pagelink"]:first-child{
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.nav [data-role="pagelink"]:hover {
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: #fff;
}

.nav [data-role="pagelink"] span{
    position: absolute;
    margin-left: 4px;
    height: 32px; /* Same as the hieght of SVG tag in HTML document.*/
    padding-top: 6px;
}
.nav [data-role="pagelink"].active-link{
    color: #B1D400; /* Hue base color*/
}
.nav [data-role="pagelink"]:hover {
    background-color: #87A100;
}

    html,
    body,
    .st-container,
    .st-pusher,
    .st-content {
        height: 100%;
    }

    .st-content {
        overflow-y: scroll;
/*        background: #f3efe0;*/
    }

    .st-content,
    .st-content-inner {
        position: relative;
    }

    .st-content-inner{
        /* Set minimum hieght to push the footer down to the page*/
        min-height: 91.5%;
        background-color: #B0B291;
    }

    .st-container {
        position: relative;
        overflow: hidden;
    }

    .st-pusher {
        position: relative;
        left: 0;
        z-index: 99;
        height: 100%;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        /*outline: 1px solid red;*/
    }


    .st-menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 300px;
        height: 100%;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .st-menu ul li a {
        display: block;
        padding: 1em 1em 1em 1.2em;
    }

    /* Effect 7: 3D rotate in *//* /TODO: rename effect 7*/

    .st-effect-7.st-container {
        -webkit-perspective: 1500px;
        perspective: 1500px;
        -webkit-perspective-origin: 0% 50%;
        perspective-origin: 0% 50%;
    }

    .st-effect-7 .st-pusher,
    footer {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }


    .st-effect-7.st-menu {
        -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
        transform: translate3d(-100%, 0, 0) rotateY(-90deg);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

@media all and (max-width:720px){
  #hamburger-menu{
      display: inline-block;
  }

  #wide-screen-nav-bar {
      display: none;
  }

  #small-screen-nav-bar{
      display: block;
  }
  .nav ul li{
    display: block;
    width: 100%; /* So that anchor tag width inherits the width of list item*/
  }

  .nav ul li:nth-child(2) {
    border-left-width: 0px;
    border-right-width: 0px;
  }

  .st-effect-7.st-menu-open .st-pusher {
      -webkit-transform: translate3d(300px, 0, 0);
      transform: translate3d(300px, 0, 0);
  }

  .st-effect-7.st-menu-open .st-effect-7.st-menu {
      /*visibility: visible;*/
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
      transform: translate3d(-100%, 0, 0) rotateY(0deg);
  }
}

@media screen and (max-width:500px){
    #hamburger-menu{
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width:440px){
    #hamburger-menu{
        width: 32px;
        height: 32px;
    }
}
/*
============================================================*/

/* Header Styling
============================================================*/
header{
    background: #E2E5BB;
    /*Make sure that header height is fixed whether hamburger menu exists or not.*/
    height: 52px;
    transition: 0.5s margin ease;
}

[data-role="header"] h1{
  text-shadow: 3px 2px 2px #475500;
-webkit-text-stroke: 1px #475500;
  color: white;
  text-align:center;
  letter-spacing:0.3rem;
  word-spacing: 1rem;
  font-variant:small-caps;
  /* increase the dueration of text stretch animation so that it won't capture the users's eye*/
-webkit-animation: text-stretch 2s infinite;
-webkit-animation-direction: alternate;
}

@-webkit-keyframes text-stretch {
			0% {
				-webkit-text-stroke: 15px #B1D400;
				letter-spacing: 0;
			}
			100% {
				-webkit-text-stroke: 20px #475500;
				letter-spacing: 10px;
			}
}

/*
============================================================*/

/* Pages styling
=============================================================*/
[data-role=page]{
    display: none;
}

.active-page{
/*    forwards value will keep the styles declared within the last specified keyframe i.e.
    opacity of destination page will remain 1. */
    -webkit-animation: fade_in 1s ease-in-out forwards,
                       rotation_and_zoom_in 1s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
    -moz-animation   : fade_in 4s ease-in-out forwards,
                       zoome_in 4s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
    -o-animation     : fade_in 4s ease-in-out forwards,
                       zoome_in 4s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
    animation        : fade_in 4s ease-in-out forwards,
                       zoome_in 4s ease-in-out forwards;
/*                       rotation_and_zoom_in 4s ease-in-out forwards;*/
}

.show{
	display:block;
}
.hide{
	display:none;
}

/* Sticky Footer styling
===============================================================*/
footer {
    background: #E2E5BB;
    /* Adjust position of footer with respect to main content div.*/
    position: absolute;
    left: 0;
    bottom: -52px;
    height: 52px; /* Same height as header*/
    width: 100%;
}


/* Location page styling
==================================================================*/
#inner-arch{
    fill: #C6ED00;
    /* Since artboard size is 300x300, change point around which rotation will take place to be middle of artboard instead of 0 0 (top-left corner)*/
    transform-origin: 150px 150px;
    -webkit-animation:  rotate 1s linear infinite;
    -moz-animation   :  rotate 1s linear infinite;
    -o-animation     :  rotate 1s linear infinite;
    animation        :  rotate 1s linear infinite;
}


/* Animations
==================================================================*/
/**********  FADE IN ANIMATION ************/
@-webkit-keyframes fade_in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-moz-keyframes fade_in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-o-keyframes fade_in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fade_in {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/**********  ZOOM IN ANIMATION ************/
@-webkit-keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}
@-moz-keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}
@-o-keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}
@keyframes zoome_in{
    0%{
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
    }
    100%{
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}

/**********  ROTATION & ZOOM-IN ANIMATION ************/
@-webkit-keyframes rotation_and_zoom_in{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}
@-moz-keyframes rotation_and_zoom_in{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}
@-o-keyframes rotation_and_zoom_in{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}
@keyframes rotation_and_zoom_in{
    0%{
        -webkit-transform:rotate(360deg) scale(0,0);
        -moz-transform:rotate(360deg) scale(0,0);
        -o-transform:rotate(360deg) scale(0,0);
        transform:rotate(360deg) scale(0,0);
    }
    100%{
        -webkit-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }
}

/**********  ROTATE ANIMATION ************/
@-webkit-keyframes rotate{

    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotate{
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes rotate{
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate{
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
